<!DOCTYPE html>
<html lang="en" dir="ltr">
    
  <head>
    <link rel="icon" href="weather.png">
    <meta charset="utf-8">
    <title>Weather Forecast</title>
    <meta name="description" content="Get your live local forecast, weather warnings & the latest updates !">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="P8hqAw19_O3IT82LJYjlEsI9TDS9vMATQkZXKoe2M8E" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6YKFCG55XL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-6YKFCG55XL');
    </script>
  </head>

  <body>
    <div class="jumbotron centered">
      <div class="container">
        <i class="fas fa-cloud fa-6x"></i>
        <h1 class="display-3">Weather Forecast</h1>
        <p class="lead">Get your live local forecast, weather warnings & the latest updates!</p>
        <hr>
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <form action="/" method="POST">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter a city name . . ." autocomplete="False"  name="inputCity">                          
                    <select class="form-control" name="unit">
                      <option>Celsius (°C)</option>
                      <option>Kelvin (K)</option>
                      <option>Fahrenheit (°F)</option>
                    </select>                          
                  </div>
                  <button type="submit" class="btn btn-dark">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>        
